KEDU_SYNC_HOST=0.0.0.0
KEDU_SYNC_PORT=8443
KEDU_SYNC_DATA_DIR=/home/YOUR_USER/.local/share/kedu-focus-sync
KEDU_SYNC_FILENAME=kedu-focus-backup.json
KEDU_SYNC_HISTORY_LIMIT=50
KEDU_SYNC_USERNAME=kedu
KEDU_SYNC_PASSWORD=请替换为一段较长的随机密码
KEDU_SYNC_ALLOWED_ORIGINS=https://gup-n.github.io,http://localhost:5173,http://127.0.0.1:5173
KEDU_SYNC_TLS_CERT=./certs/server.crt
KEDU_SYNC_TLS_KEY=./certs/server.key
